.contact-section {
    background-color: #242424;
  }
  
  .contact-heading {
    font-size: 36px;
    font-weight: 700;
    color: #efefef;
    text-align: center;
    margin-top: 0px;
  }
  
  .contact-message {
    font-size: 16px;
   padding: 10px;
   text-align: center;
   font-weight: bold;
  }
  
  .contact-options {
    display: flex;
    gap: 70px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }
  
  .contact-link {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    background-color: #ddd;
    border-radius: 25px;
  }
  
  .contact-icon {
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    display: flex;
    gap: 70px;
    margin-bottom: 20px;
    justify-content: center;
    padding: 10px;
  }
  
  .contact-input{
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;

  }

  .contact-textarea {
    padding: 35px;
    border-radius: 70px;
    border: 1px solid #ccc;
    margin: 10px;
  }
  
  .contact-submit {
    margin: 25px;
    padding: 15px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 45px;
    cursor: pointer;
  }
  
  .contact-submit:hover {
    background-color: #0056b3;
  }
  