.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  color: #fff;
  padding: 20px 20px;
}

.details {
  margin-right: 30px;
  justify-content: space-between;
}

.details.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  width: 100%;
}

.details a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px;
  font-weight: 700;
  font-family: sans-serif;
}

.details a:hover {
  color: #ccc;
}

.menu-toggle {
  display: none;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .details {
    margin: 0;
    position: relative;
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
    color: #fff;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: center;
  }

  .menu-toggle:hover,
  .menu-toggle.active {
    background-color: #333;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .container {
    padding: 15px;
  }
}

@media screen and (min-width: 1441px) {
  .container {
    padding: 30px;
  }
}
