.container {
  background-color: black;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust the z-index as needed */
}

.details-form {
  display: flex;
  justify-content: space-between;
}

.details-form a {
  color: white;
  text-decoration: none;
  padding: 10px 60px;
  border-radius: 5px;
}

.details-form a:hover {
  background-color: #555;
}
